{% extends 'base.html.twig' %}

{% block body %}

    <ul>
        <li><a href="{{ path('customers_index') }}">Show all Customers</a> </li>
        <li><a href="{{ path('cars_index') }}">Show all Cars</a> </li>
    </ul>
{% endblock %}

{% block stylesheets %}

{% endblock %}
